{% extends "itreporting/base.html"%}

{% load crispy_forms_tags %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Module List</title>
</head>
<body>
    <h1>Modules Available for Registration</h1>
    
    <h2>Available Modules:</h2>
    <ul>
        {% for module in modules %}
            <li>
                {{ module.name }} - {{ module.description }}
                {% if module in registered_modules %}
                    <button disabled>Already Registered</button>
                    <a href="{% url 'itreporting:unregister_module' module.id %}">Unregister</a>
                {% else %}
                    <a href="{% url 'itreporting:register_module' module.id %}">Register</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
{% endblock content %}

